.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

.flex{
    height: 80px;
    /* background-color: #1C2B35; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.pic{
    height: 50px;
    width: 100px;
}